*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background: #f4f4f4;
}
body{
    background: #f4f4f4;
}
.container{
    width: 10rem;
    margin: auto;
}
/*hedaer开始*/
.header{
    width: 10rem;
    position: relative;
    /*height: 0.892rem;*/
    /*background: #ffd40c;*/
}
.header>ul{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    background: #ffd40c;
}
.header ul::after{
    display: table;
    content: "";
    clear: both;
}
.header ul li{
    float: left;
    display: block;
    padding: 0.12rem 0.12rem;
    text-align: center;
    width:1.6rem;
    font-size: 10px;
}
.ynz{
    position: absolute;
    right: 0.5rem;
    top: 0.1rem;
}
.ynz2{
    border-bottom: 7px solid #ff7d01;
}
.header ul li .iconfont{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    margin: auto;
    font-size: 0.4rem;
    margin-top: 0.3rem;
}
[data-dpr="2"] .header ul li{
    font-size: 21px;
}
[data-dpr="3"] .header ul li{
    font-size:30px;
}
.xiaotubiao{
    width: 10rem;
    background: #ffd40c;
    position: absolute;
    top:0;
    z-index: 99;
    display: none;
}
.ynz-xians{
    display:block ;
}
.xiaotubiao-wenzi{
    font-size: 13px;
    height: 1.3304rem;
}
.xiaotubiao-wenzi span{
    width: 3rem;
    display: block;
    float: left;
    line-height: 1.2rem;
    margin-left: 0.2rem;
}
.xiaotubiao-wenzi img{
    width: 0.8rem;
    height: 0.8rem;
    margin-left: 5.5rem;
}
[data-dpr="2"] .xiaotubiao-wenzi{
    font-size: 26px;
}
[data-dpr="3"] .xiaotubiao-wenzi{
    font-size:39px;
}
.xiaotubiao ul::after{
    display: table;
    content: "";
    clear: both;
}
.xiaotubiao ul{
    width: 10rem;
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    background: #ffd40c;
}
.xiaotubiao ul li{
    float: left;
    width: 3.33rem;
    padding: 0.12rem 0.12rem;
    text-align: center;
    display: block;
}
/*header结束*/
.banner{
    width: 10rem;
}
.banber-center{
    width: 10rem;
    display: none;
}
.xians{
    display: block;
}
.banner-top{
    width: 6rem;
    height: 1.469rem;
    position: relative;
   margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-top div{
    float: left;
}
.banner-top div:nth-child(1){
    display: block;
    width: 1.586rem;
    height: 0.05rem;
    line-height: 0.133rem;
    background: #4e525e;
   left: 0;
    position: absolute;

}
.banner-top div:nth-child(2){
    display: block;
    height: 0.719rem;
    font-weight: bold;
    line-height: 0.719rem;
    font-size: 13px;


}
[data-dpr="2"] .banner-top div:nth-child(2){
    font-size: 26px;
}
[data-dpr="3"] .banner-top div:nth-child(2){
    font-size:39px;
}
.banner-top div:nth-child(3){
    display: block;
    width: 1.586rem;
    height: 0.05rem;
    line-height: 0.133rem;
    background: #4e525e;
    right: 0;
    position: absolute;
}
.banner-bottom{
    width: 10rem;
}
.banner-bottom .banner-bottom-samll{
    float: left;
    width: 2.8rem;
    height: 3.6rem;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    background: white;
    margin: 0.25rem 0.25rem;
    position: relative;
}
.banner-bottom .banner-bottom-samll img{
    width: 2.653rem;
    height: 2.56rem;
    padding-left: 0.14rem;
    padding-right: 0.28rem;
}
.banner-bottom .banner-bottom-samll span{
    display: block;
    overflow: hidden;
    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 13px;
    line-height: 0.484rem;
    width: 2.8rem;
    height: 0.484rem;
    position: absolute;
    bottom:0.3rem;
    text-align: center;
}
[data-dpr="2"] .banner-bottom .banner-bottom-samll span{
    font-size: 26px;
}
[data-dpr="3"] .banner-bottom .banner-bottom-samll span{
    font-size:39px;
}


